/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}
:root{
  --toolbar-height: 10vh;
  --sidebar-width: 6vw;
}
