<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">RIVIERA MAYA: GUÍA DE VIAJE.</h5>
          <h6 class="card-subtitle mb-2 text-muted">Si llegaste acá es porque estás pensando en viajar a...</h6>
        </div>
        <div class="card-body">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">ALOJAMIENTO EN SEYCHELLES.</h5>
          <h6 class="card-subtitle mb-2 text-muted">Ya les contamos todo sobre este mágico lugar en la guía...</h6>
        </div>
        <div class="card-body">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">CRUZANDO MEDIO MUNDO EN EL TRANSIBERIANO.</h5>
          <h6 class="card-subtitle mb-2 text-muted">Son la 1:35 am, y ahora mismo estamos aproximadamente a 6...</h6>
        </div>
        <div class="card-body">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">LA DIGUE ISLAND LODGE, SEYCHELLES. HOTEL REVIEW.</h5>
          <h6 class="card-subtitle mb-2 text-muted">Sin dudas, este fue el mejor hotel en el que nos hospedamos...</h6>
        </div>
        <div class="card-body">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">LAS 10 MEJORES PLAYAS DE SEYCHELLES.</h5>
          <h6 class="card-subtitle mb-2 text-muted">De que Seychelles es un paraíso, no cabe ninguna duda...</h6>
        </div>
        <div class="card-body">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">TRANSPORTE EN SEYCHELLES: COMO LLEGAR Y MOVERTE.</h5>
          <h6 class="card-subtitle mb-2 text-muted">Como verás en el mapa, Seychelles está en medio de la...</h6>
        </div>
        <div class="card-body">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
          <a href="#">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>


